{% extends 'base.html' %}

{% block title %}
    <title>Accueil</title>
{% endblock%}

{% block content %}

    <div class="divMessage"></div>

    <div class="divContainer">
        
        <div class="divTabs">

            <div class="divTabItem">
               
                <div class="divFilter">
                    <div class="divOrigines">
                        <button class="btn btn-auchan">Auchan</button>
                        <button class="btn btn-baayguins">BaayGuins</button>
                        <button class="btn btn-guinarshop">Guinarshop</button>
                        <button class="btn btn-all">Tout</button>
                    </div>

                    <div class="divLoader">
                        <input type="number" min="1" max="20" placeholder="Nombre">
                        <button>Réduire</button>
                    </div>
                </div>

                <table aria-describedby="big-table">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th class="tri" column-name="nom" order="desc">
                                Nom du produit
                                <span class="spanTri byName">
                                </span>
                            </th>
                            <th class="tri" column-name="prix" order="desc">
                                Prix
                                <span class="spanTri byPrice">
                                </span>
                            </th>
                            <th class="tri" column-name="poids" order="desc">
                                Poids (kg)
                                <span class="spanTri byPoids">
                                </span>
                            </th>
                            <th>Origine</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div class="divGraphInfo">
            <h2>Représentation graphique des prix en fonction du poids</h2>

            <div id="divGraph"></div>


            <div class="divProductMeti">
                {% for product in results %}
                    <div class="divProductMetiItem">
                        <div class="divImageMeti">
                            <img src="{{product.image}}" alt="{{product.nom}}">
                        </div>
                        <div>
                            <h4>{{product.nom }} ({{product.origine}})</h4>
                            <div class="divPrixPoids">
                                <p>
                                    <span class="spanLabel">Prix</span>
                                    <span class="spanPrice">{{product.prix}}</span>
                                </p>
                                <p>
                                    <span class="spanLabel">Poids</span>
                                    <span class="spanPoids">{{product.poids}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}