{% extends 'base.html' %}

{% block title %}
    <title>Accueil</title>
{% endblock%}

{% block content %}


    <div class="divContainer">
        <div class="divTabs">

            <div class="divTabItem">
               
                <div class="divFilter">
                    <div class="divOrigines">
                        <button class="btn btn-auchan">Auchan</button>
                        <button class="btn btn-baayguins">BaayGuins</button>
                        <button class="btn btn-guinarshop">Guinarshop</button>
                        <button class="btn btn-all">Tout</button>
                    </div>

                    <div class="divLoader">
                        <input type="number" min="1" max="20" placeholder="Nombre">
                        <button>Charger</button>
                    </div>
                </div>

                <table aria-describedby="big-table">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>
                                Nom du produit
                                <span class="spanTri byName">
                                    <img src="{{url_for('static', filename='images/arrow-bottom.svg')}}" width="15" height="15" alt="product"/>
                                </span>
                            </th>
                            <th>
                                Prix
                                <span class="spanTri byPrice">
                                    <img src="{{url_for('static', filename='images/arrow-top.svg')}}" width="15" height="15" alt="product"/>
                                </span>
                            </th>
                            <th>
                                Poids (kg)
                                <span class="spanTri byPoids">
                                    <img src="{{url_for('static', filename='images/arrow-bottom.svg')}}" width="15" height="15" alt="product"/>  
                                </span>
                            </th>
                            <th>Origine</th>
                        </tr>
                    </thead>

                    <tbody>
                        <!-- {% if data %}
                            {% for product in data %}
                                <tr>
                                    <td class="trImg">
                                        <img src="{{ product.image_info }}" alt="product">
                                    </td>
                                    
                                    {% if product.name_info|length > 25  %}
                                    
                                        <td>{{ (product.name_info[:25] + '...') }}</td>

                                    {% else %}
                                        
                                        <td>{{ product.name_info }}</td>
                                    
                                    {% endif %}

                                    <td><strong>{{ product.prix_info }}</strong> fcfa</td>
                                    <td>{{ product.poids_info }}</td>
                                    <td>{{ websites.query.get(product.id_website_info).name_website }}</td>
                                </tr>
                            {% endfor %}

                        {% else %}
                            
                            <tr>
                                <p>Aucun product pour le moment !</p>
                            </tr>

                        {% endif %} -->
                    </tbody>
                </table>
            </div>
        </div>

        <div class="divGraphInfo">
            <h2>Graphe</h2>
        </div>
    </div>


{% endblock %}